* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.logo-gub {
    width: 35%;
}

.menu-icon {
    width: 100px;
    height: 100px;
}

.nav {
    background-color: rgb(13, 13, 13);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link-menu {
    padding: 10px;
    font-size: 1rem;
    list-style: none;
    width: 100vw;
}

.link-menu a {
    text-decoration: none;
    color: rgb(27, 27, 27);
}

.title-gallery {
    text-align: center;
    font-size: 1.5rem;
}

.aside {
    margin-top: 40px;
}

.link-menu:hover {
    background-color: rgb(198, 185, 210);
}

.box-card {
    width: 200px;
    height: 200px;
}

.container-image {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    padding: 30px 0;
}


html {
    scroll-behavior: smooth;
}


.about {
    margin: 40px;
}

.about p {
    padding: 20px 0;
    line-height: 30px;
}

label,
input {
    /* display: block; */
    padding: 5px 0;
    margin: 20px 0;
}

label {
    font-size: 1.2rem;
}

input {
    width: 100%;
    color: gray;
    font-size: 1.1rem;
}

input:last-child {
    background-color: rgb(52, 52, 52);
    color: azure;
    padding: 10px;
    border-radius: 10px;
}

input:last-child:hover {
    background-color: rgb(140, 101, 101);
    color: azure;
}

.form h2 {
    padding: 20px 0;
}

.contacto {
    margin: 0 40px 60px 40px;
}

.footer {
    background-color: rgb(38, 38, 38);
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.footer-icon {
    display: flex;
    justify-content: center;
}

.footer-paragraph{
    text-align: center;
}

.icon-social {
    width: 60px;
    height: 60px;
    margin: 10px;
}

.circle {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: darkblue;
    transition: all 2s steps(40);
    /* margin: 100px; */
}

.circle:hover {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: rgb(160, 88, 7);
    transform: rotate(45deg) scale(1);
}

/* 
.box {
    height: 300px;
    width: 300px;
    animation-name: colorear;
    animation-iteration-count: infinite;
    animation-duration: 6s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box p {
    color: rgb(22, 22, 22);
}

@keyframes colorear {
    from {
        background-color: chartreuse;
    }

    to {
        background-color: orange;
    }
} */

.animate {
    color: rgb(22, 22, 22);
    animation-name: move;
    animation: move 6s 1;
}

@keyframes move {
    from {
        transform: translateX(500px);
    }

    to {
        transform: translateX(0px);
    }
}


@media only screen and (min-width: 600px) {

    html {
        scroll-behavior: smooth;
    }

    main {
        display: grid;
        grid-template-columns: repeat(5, auto);
        /* justify-items: center; */
        /* height: 400px; */
        grid-template-areas:
            "nav nav nav nav nav"
            "container container container container aside"
            "container container container container aside"
            "about about about about aside"
            "contacto contacto contacto contacto aside"
            "footer footer footer footer footer"
    }

    .aside {
        grid-area: aside;
        width: 100%;
        display: grid;
        grid-column: 5 / 6;
        grid-template-columns: repeat(2, 1fr);
    }

    .link-menu {
        width: auto;
    }

    .nav {
        grid-area: nav;
        grid-template-columns: repeat(5, auto);
        display: grid;
        align-items: center;
        justify-content: center;
    }

    .logo-gub {
        width: 20%;
    }

    .menu-icon {
        display: none;
    }


    .contenedor {
        grid-area: container;
        display: grid;
        grid-area: container;
        display: flex;
        gap: 10px;
        flex-flow: column;
        overflow-y: auto;
        height: calc(100vh);
    }

    .title-gallery {
        display: none;
    }

    .container-card {
        grid-area: container;
    }


    .container-image {
        width: 100%;
    }

    .box-card {
        grid-area: 2;
        margin: 0 auto;
        overflow: hidden;
        margin-top: 15px;
        height: 300px;
    }

    .about {
        grid-area: about;
        grid-column: 1 / 5;
    }

    .contacto {
        grid-area: contacto;
        grid-template-columns: repeat(6, auto);
        display: grid;
        grid-column: 1 / 5;
    }


    .footer {
        grid-area: footer;
    }

    .main-card {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 12%;
    }

}


@media (min-width: 601px) and (max-width: 1280px) {

    html {
        scroll-behavior: smooth;
    }

    .link-menu {
        width: auto;
    }

    .contenedor {
        display: grid;
        /* grid-area: container;
        text-align: center;
        display: flex;
        gap: 10px;
        flex-flow: column;
        align-items: center; 
        overflow-y: auto;*/
        height: calc(100vh);
    }

    .main-card {
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 2%;
        justify-content: center;
    }

    .about {
        justify-content: center;
        display: grid;
        grid-column: 2 / 4;
    }

    .contacto {
        justify-content: center;
        display: grid;
        grid-column: 2 / auto;
    }


    .footer {
        display: grid;
    }

    .container-card {
        grid-area: container;
        display: flex;
        flex-direction: column;
    }


}